.product-price del {
    color: #e95769;
    font-size: 16px;
    font-weight: 400;
}

@font-face{
    font-family:montserratBold;
    src:url(../fonts/montserrat-bold-webfont.eot);
    src:url(../fonts/montserrat-bold-webfont.eot) format('embedded-opentype'),
        url(../fonts/montserrat-bold-webfont.woff) format('woff2'),
        url(../fonts/montserrat-bold-webfont.woff) format('woff'),
        url(../fonts/montserrat-bold-webfont.ttf) format('truetype');        
}

@font-face{
    font-family:roboto;
    src:url(../fonts/roboto-regular-webfont.eot);
    src:url(../fonts/roboto-regular-webfont.eot) format('embedded-opentype'),
        url(../fonts/roboto-regular-webfont.woff) format('woff2'),
        url(../fonts/roboto-regular-webfont.woff) format('woff'),
        url(../fonts/roboto-regular-webfont.ttf) format('truetype');
}

body,p,label{
    font-family: roboto !important;
    font-weight: 300;
}

h1,h2,h3,h4,.amount,.product-name,.upper,.awemenu-item,strong,b{
    font-family: montserratBold !important;
    font-weight: 300;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
font-family: roboto
}

    

.fa {
    display: inline-block;
    font-family: FontAwesome !important;
}

@media (max-width:768px){
    .product-hover {        
        opacity: 1;        
        visibility: visible;
    }
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    cursor: auto;
    width: auto;
}

.product-quickview-popup {
    min-width:auto;
    padding: 0;
}

.white-popup {
    max-width: auto;    
}

.headroom--not-top .logo2{
    display:block !important;
}

.headroom--top .logo2{
    display:none;
}

.headroom--not-top .logo1{
    display:none;
}